html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave en toda la página */
    body {
      background-color: #E8F5E9; /* Azul claro */
      .recuadro1 {
        background-color: #5cd2cc; /* Verde agua */
        border: 2px solid #ad2323; /* Verde más oscuro */
        border-radius: 10px;
        padding: 30px;
        box-shadow: 2px 2px 5px #888888;
        width: 1100px;
        margin: 20px auto; /* Centra el recuadro horizontalmente */
      }

      .recuadro2 {
        background-color: #e0f2f1; /* Verde agua */
        border: 2px solid #4CAF50; /* Verde más oscuro */
        border-radius: 10px;
        padding: 30px;
        box-shadow: 2px 2px 5px #888888;
        width: 1100px;
        margin: 20px auto; /* Centra el recuadro horizontalmente */
      }
    }
} 
